<div class="panel-group" id="auditinfo">
	<div class="panel panel-warning">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Su voto auditado
			</h3>
		</div>
		<div class="panel-body">
			<div class="alert alert-warning">
				<strong>IMPORTANTE</strong>: este voto, ahora que está siendo auditado, <strong>no será escrutado</strong>.<br />
				Para enviar un voto, debe hacer click en el botón "Volver a la votación" al final de esta página, volver a encriptarlo y seleccionar "votar" en lugar de "auditar".
				<!--To cast a ballot, you must click the "Back to Voting" button below, re-encrypt it, and choose "cast" instead of "audit."-->
			</div>
			<p>
				<!--<b>Why?</b> Helios prevents you from auditing and casting the same ballot to provide you with some protection against coercion.-->
				<strong>¿Por qué?</strong> Helios no permite auditar y enviar el mismo voto para proporcionar al votante protección contra la coacción.
			</p>
			<p>
				<!--<b>Now what?</b> <a onclick="$('#audit_trail').select(); return false;" href="#">Select your ballot audit info</a>, copy it to your clipboard, then use the <a target="_blank" href="single-ballot-verify.html?election_url={$T.election_url}">ballot verifier</a> to verify it.<br />-->
				<!--Once you're satisfied, click the "back to voting" button to re-encrypt and cast your ballot.-->
				<b>¿Ahora qué?</b> <a class="btn btn-default btn-xs" onclick="$('#audit_trail').select(); return false;" href="#">Seleccione la información de auditoría de su voto</a>, cópiela al portapapeles, y use el <a class="btn btn-default btn-xs" target="_blank" href="single-ballot-verify.html?election_url={$T.election_url}">verificador de votos</a> para verificarlo.<br />
				Una vez satisfecho, haga click en el botón "volver a la votación" para reencriptar y enviar su voto.
			</p>
			<form action="#">
				<!--<textarea name="audit_trail" id="audit_trail" cols="80" rows="10" wrap="soft">-->
				<textarea name="audit_trail" id="audit_trail" class="form-control" rows="12">
{$T.audit_trail}
				</textarea>
				<br/>
				<p>
					<!--Before going back to voting,<br />-->
					<!--you can post this audited ballot to the Helios tracking center so that others might double-check the verification of this ballot.-->
					Antes de volver a la votación, puede publicar este voto auditado en el Centro de Seguimiento de Helios, permitiendo así a otros votantes poder realizar una doble comprobación de la verificación de este voto.
				</p>
				<p class="alert alert-warning">
					<!--<b>Even if you post your audited ballot, you must go back to voting and choose "cast" if you want your vote to count.</b>-->
					<strong>Aunque publique su voto auditado, debe volver a la votación y pulsar "enviar" para que su voto cuente en el escrutinio final, ya que el que está visualizando ya no lo hará al haber sido comprometido.</strong>
				</p>
				<a type="button" onclick="BOOTH.reset_ciphertexts();BOOTH.seal_ballot();" class="btn btn-warning pull-left"><i class="glyphicon glyphicon-arrow-left" aria-hidden="true"></i> Volver a la votación</a>
				&nbsp; &nbsp;&nbsp;
				<a type="button" onclick="$(this).attr('disabled', 'disabled');BOOTH.post_audited_ballot();" id="post_audited_ballot_button" class="btn btn-warning pull-right"><i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i> Publicar el voto auditado en el Centro de Seguimiento</a>
			</form>
		</div>
	</div>
</div>




