
<div id="questions_div" class="panel panel-default">
<!--<p>-->
    <!--To cast a vote, you will be led through the following steps.<br />-->
    <!--If you have not yet logged in, you will be asked to do so at the very end of the process.-->
<!--<p>-->
    <div class="panel-body">
        <p>
            Para emitir un voto, ha de completar los siguiented pasos:
        </p>

        <ol class="list-group">
            <li class="list-group-item">
                <b>1. Seleccione</b> su opción preferida.<br/>
            </li>
            <li class="list-group-item">
                <b>2. Revise y confirme</b> sus opciones seleccionadas.
            </li>
            <li class="list-group-item">
                <b>3. Emita</b> su voto encriptado.
            </li>
        </ol>
        <div align="center">
            <button class="btn btn-success" onclick="BOOTH.show_question(0);">Comenzar</button>
        </div>
    </div>

<!--
<ol>
    <li> <b>Select</b> your preferred options.<br />
    <span style="font-size: 14pt;">You can easily navigate forwards and backwards.</span></li>
    <br />

    <li> <b>Review &amp; Confirm</b> your choices.<br />
<span style="font-size: 14pt;">
  Your choices are encrypted safely inside your browser, and you get a smart ballot tracker.<br />
</span>
</li>
<br />

    <li> <b>Submit</b> your encrypted ballot.<br />
<span style="font-size: 14pt;">
You will be asked to log in to submit your encrypted ballot for tallying.
</span>
</li>
</ol>
-->

</div>

