
<form onsubmit="return false;" class="prettyform" id="answer_form">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div>
                <b class="panel-title">{$T.question.question}</b>
                <br />
                <span>
                    #{$T.question_num + 1} de {$T.last_question_num + 1} &mdash;
                    Seleccione
                    {#if $T.question.min && $T.question.min > 0}
                        {#if $T.question.max}
                            de {$T.question.min} a {$T.question.max} opciones
                        {#else}
                            al menos {$T.question.min} opciones
                        {#/if}
                    {#else}
                        {#if $T.question.max}
                            {#if $T.question.max > 1}
                                hasta {$T.question.max} opciones
                            {#else}
                                {$T.question.max} opción
                            {#/if}
                        {#else}
                            tantas opciones como desee
                        {#/if}
                    {#/if}
                </span>
            </div>
        </div>

        <div class="panel-body">
            <input type="hidden" name="question_num" value="{$T.question_num}" />

            {#foreach $T.question.answers as answer}
              <div id="answer_label_{$T.question_num}_{$T.answer_ordering[$T.answer$index]}">
                <input type="checkbox" class="ballot_answer" id="answer_{$T.question_num}_{$T.answer_ordering[$T.answer$index]}" name="answer_{$T.question_num}_{$T.answer_ordering[$T.answer$index]}" value="yes" onclick="BOOTH.click_checkbox({$T.question_num}, {$T.answer_ordering[$T.answer$index]}, this.checked);" /> {$T.question.answers[$T.answer_ordering[$T.answer$index]]}

                {#if $T.question.answer_urls && $T.question.answer_urls[$T.answer_ordering[$T.answer$index]] && $T.question.answer_urls[$T.answer_ordering[$T.answer$index]] != ""}
                    &nbsp;&nbsp;
                    <span style="font-size: 12pt;">
                        [<a target="_blank" href="{$T.question.answer_urls[$T.answer_ordering[$T.answer$index]]}">more info</a>]
                    </span>
                {#/if}
              </div>
            {#/for}
        </div>
    </div>


 <div id="warning_box" style="color: green; text-align:center; font-size: 0.8em; padding-top:10px; padding-bottom: 10px; height:50px;">
 </div>


 {#if $T.show_reviewall}
     <div style="float: right;">
       <input class="btn btn-success" type="button" onclick="BOOTH.validate_and_confirm({$T.question_num});" value="Continuar" />
     </div>
 {#/if}

 {#if $T.question_num != 0}
 <input class="btn btn-info" type="button" onclick="BOOTH.previous({$T.question_num})" value="Previous" />
 &nbsp;
 {#/if}

 {#if $T.question_num < $T.last_question_num}
 <input class="btn btn-info" type="button" onclick="BOOTH.next({$T.question_num})" value="Next" />
 &nbsp;
 {#/if}

 <br clear="both" />

</form>
