
{#if $T.election_metadata.use_advanced_audit_features}
<div style="float: right; background: lightyellow; margin-left: 20px; padding: 0px 10px 10px 10px; border: 1px solid #ddd; width:200px;">
<h4><a onclick="$('#auditbody').slideToggle(250);" href="#">Auditoría</a> <span style="font-size: 0.8em; color: #444">[opcional]</span></h4>
<div id="auditbody" style="display:none;">
<p>
<!--If you choose, you can audit your ballot and reveal how your choices were encrypted.-->
    Si lo desea, puede auditar su voto y revelar cómo se encriptaron sus opciones.
</p>
<p>
<!--You will then be guided to re-encrypt your choices for final casting.-->
    Posteriormente, será dirigido al proceso de reencriptar sus elecciones para enviar su voto final.
</p>
<input type="button" value="Verificar encriptado" onclick="BOOTH.audit_ballot();" class="btn btn-default" />
</p>
</div>
</div>
{#/if}

<h3>Revise su voto</h3>


<div style="padding: 10px; margin-bottom: 10px; background-color: #eee; border: 1px #ddd solid; max-width: 340px;">
{#foreach $T.questions as question}

<b>Pregunta #{$T.question$index + 1}: {$T.question.short_name}</b><br>
{#if $T.choices[$T.question$index].length == 0}
<div style="margin-left: 15px;">&#x2610; <i>No ha seleccionado ninguna opción</i></div>
{#/if}
{#foreach $T.choices[$T.question$index] as choice}
<div style="margin-left: 15px;">&#x2713; {$T.choice}</div>
{#/for}
{#if $T.choices[$T.question$index].length < $T.question.max}
[Ha elegido menos opciones del máximo posible: puede elegir hasta un máximo de {$T.question.max}]
{#/if}
[<a onclick="BOOTH.show_question({$T.question$index}); return false;" href="#">editar opciones elegidas</a>]
{#if !$T.question$last}<br><br>{#/if}
{#/for}
</div>


<!--<p><p>Your ballot tracker is <b><tt style="font-size: 11pt;">{$T.encrypted_vote_hash}</tt></b>, and you can <a onclick="BOOTH.show_receipt(); return false;" href="#">print</a> it.<br /><br /></p>-->
<p><p>El código de seguimiento de su voto es <b><tt style="font-size: 11pt;" class="badge">{$T.encrypted_vote_hash}</tt></b>, y puede <a onclick="BOOTH.show_receipt(); return false;" href="#">imprimirlo</a>.<br /><br /></p>

<p>
<!--Once you click "Submit", the unencrypted version of your ballot will be destroyed, and only the encrypted version will remain.  The encrypted version will be submitted to the Helios server.</p>-->
Una vez que haga click en "Enviar", la versión desencriptada de su voto será destruida, y sólo permanecerá la versión encriptada. La versión encriptada será enviada al servidor de escrutinio Helios.</p>

<button id="proceed_button" class="btn btn-success" onclick="BOOTH.cast_ballot();">Enviar este voto</button><br />
<div id="loading_div"><img src="loading.gif" id="proceed_loading_img" /></div>



<form method="POST" action="{$T.cast_url}" id="send_ballot_form" class="prettyform">
<input type="hidden" name="election_uuid" value="{$T.election_uuid}" />
<input type="hidden" name="election_hash" value="{$T.election_hash}" />
<textarea name="encrypted_vote" style="display: none;">
{$T.encrypted_vote_json}
</textarea>
</form>
