.itemAttrs .emisor {
    color: #216383;
    font-size: 0.875em;
    margin: 0.75em 0;
}

#anuncioBAM {
	clear: both;
	font-size:0.75em;
}

.interiorDetalle div.tituloAnuncio {
	font-size: .75em;
	clear: both;
	font-style: italic;
	margin:1em 0;
}
#anuncioBAM p, #anuncioBAM ul{
	padding-bottom: 0px;
}

#anuncioBAM table p {
	text-align:left;
}
#anuncioBAM table  {
	margin:1em 0;
}
#anuncioBAM p {
	min-height: 1.2em;
	line-height:1.3em;
}
#anuncioBAM {
	color: #333;
	height:auto;
}


#anuncioBAM .tx-versal{
	font-family:arial;
	font-variant: small-caps;
	font-weight:normal;
}

#anuncioBAM .tx-versal-al-centrada {
	font-family:arial;
	font-variant: small-caps;
	font-weight:normal;
	text-align: center;
}

#anuncioBAM p { color:#333 }


/* tablas */




#anuncioBAM .al-derecha  {
	text-align:right;
}

#anuncioBAM .al-izquierda  {
	text-align:left;
}

#anuncioBAM .al-centrada {
	text-align:center;
}

#anuncioBAM .tx-normal {
	font-family:arial;
	font-weight:normal;
	
	text-indent: 20px;
	
}

#anuncioBAM .tx-titulo-1  {
	font-family:arial;
	font-weight:bold;
	
	padding:0px;
}
#anuncioBAM .tx-titulo-1-al-izquierda {
	font-family:arial;
	font-weight:bold;

	padding:0px;
	text-align: left;
}
#anuncioBAM .tx-titulo-1-al-centrada {
	font-family:arial;
	font-weight:bold;

	padding:0px;
	text-align: center;
}

#anuncioBAM .tx-titulo-1-al-derecha {
	font-family:arial;
	font-weight:bold;
	
	padding:0px;
	text-align: right;
}
#anuncioBAM .tx-titulo-1-al-justificada {
	font-family:arial;
	font-weight:bold;
	
	padding:0px;
	text-align: justify;
}



#anuncioBAM .tx-titulo-2  {
	font-family:arial;
	font-weight:bold;
	
	padding:0px;
}

#anuncioBAM .tx-titulo-2-al-izquierda{
	font-family:arial;
	font-weight:bold;
	
	padding:0px;
	text-align: left;
}
#anuncioBAM .tx-titulo-2-al-centrada{
	font-family:arial;
	font-weight:bold;
	
	padding:0px;
	text-align: center;
}
#anuncioBAM .tx-titulo-2-al-derecha {
	font-family:arial;
	font-weight:bold;

	padding:0px;
	text-align: right;
}
#anuncioBAM .tx-titulo-2-al-justificada {
	font-family:arial;
	font-weight:bold;
	
	padding:0px;
	text-align: justify;
}
#anuncioBAM .tx-titulo-3 {
	font-family:arial;
	font-weight:bold;

	padding:0px;
}
#anuncioBAM .tx-titulo-3-al-izquierda{
	font-family:arial;
	font-weight:bold;

	padding:0px;
	text-align: left;
}
#anuncioBAM .tx-titulo-3-al-centrada {
	font-family:arial;
	font-weight:bold;
	
	padding:0px;
	text-align: center;
}
#anuncioBAM .tx-titulo-3-al-derecha {
	font-family:arial;
	font-weight:bold;

	padding:0px;
	text-align: right;
}
#anuncioBAM .tx-titulo-3-al-justificada {
	font-family:arial;
	font-weight:bold;
	
	padding:0px;
	text-align: justify;
}
/* casos particulares */
/* anuncio bam */
#anuncioBAM p {
	text-indent: 2em;

}

#anuncioBAM th u  {
	text-decoration: none;
	
}
#anuncioBAM table p  {
	padding: 0px;
}


/* normativa */


#anuncioBAM strong{
	color: #555555;
}


/**/

/* correccion de tablas */



.cursiva {
	font-style: italic; font-size: 1em;
}
