.logoupleft img {
	height: 43px;
	max-width: none;
}

#contentbody {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	max-width: none;
}

.panel {
	padding: 0;
}

.panel-primary h5 {
	color: white;
}

.panel-warning h5 {
	color: #8a6d3b;
}

.centrar {
	text-align: center;
}

.panel-admin {
	margin-top: 1em;
}

.div-crear-eleccion {
	width: 100%;
}

.link-crear-eleccion {
	width: 80%;
	margin: 0 auto;
	display: block;
}

.link-global {
	font-size: 150%;
}

.panel-admin li, .panel-votos li {
	display: block;
}

.elecs-admin, .elecs-votos {
	list-style: none;
}

.panel-admin li:before, .panel-votos li:before, .elecs-admin li:before, .elecs-votos li:before {
	content: "\2709";
	font-family: 'Glyphicons Halflings';
	float: left;
	margin-left: -17px;
}

.panel-admin li:before {
	color: #5cb85c;
}

.panel-votos li:before {
	color: #337ab7;
}

.elemselecc {
	margin-top: 2em;
}
.elemselecc .btn {
	font-size: 130%;
}

h3 .btn-group {
	display: inline-block;
}

.infoelec {
	padding-top: 5px;
}

.infoelec .well {
	padding-top: 0;
	padding-bottom: 0;
}

@media (max-width: 500px) {
	.link-crear-eleccion {
		font-size: 110%;
		line-height: 1.2em;
	}
}

/* debugging
body {background-color: pink;}
*/

@media (max-width: 400px) {
	.link-crear-eleccion {
		width: 100%;
		padding: 5px 4px;
		font-size: 100%;
		line-height: 1.2em;
	}
}

/* -------------------- Para el escrutinio ----------------*/
.escrutinio {
	font-size: 150%;
}

.escrutinio .panel h1 {
	font-size: 150%;
	margin-bottom: 0;
}

.escrutinio .panel h3 {
	font-size: 125%;
	margin-bottom: 0;
}

.fin-eleccion-ok {
	color: #00CA00;
}


#auditinfocollapse table td {
	font-size: 1.2em;
}

@media screen and (max-width: 800px) {
	#auditinfocollapse table {
		width: 100%;
	}
	
	#auditinfocollapse table th {
		display: none;
	}
	
	#auditinfocollapse table td {
		display: block;
		text-align: center;
	}
	
	#auditinfocollapse table td:before {
		content: attr(data-th);
		display: block;
		text-align: center;
	}
}

@media screen and (max-width: 600px) {
	#auditinfocollapse table td {
		text-align: left;
	}
	
	#auditinfocollapse table td:before {
		text-align: left;
	}
	
	#auditinfocollapse .btn:not([class~=btn-lg]) {
		font-size: 0.8em;
	}
	
}


/* -------------------- Para el escrutinio ----------------*/

#detalles .panel-heading h4 {
	color: #ffffff;
}

#detalles textarea {
	font-size: 75%;
	height: 25em;
}	