{% extends "layout.html" %}
{% load web_extras %}

{% block content %}
<div class="jumbotron">
    <form action="" method="post" id="formulario">
        {% csrf_token %}
        <input type="hidden" name="client_type" value="browser" />

        <p class="lead">La aplicación <b>{{ client.client_id }}</b> quiere su permiso para realizar acciones en su nombre.</p>
        <!-- <p>Cadena: {{ prueba }}</p> -->
        {% if dnie %}
            <h5>La información proporcionada por el certificado digital de autenticación del DNIe es:</h5>
			<table class="table tblInfoCert">
				<tr><th>Sujeto</th><td>{{ dnie.commonName }}</td></tr>
				<tr><th>Nombre</th><td>{{ dnie.givenName }}</td></tr>
				<tr><th>Apellidos</th><td>{{ dnie.surname }}</td></tr>
				<tr><th>Nº DNI</th><td>{{ dnie.serialNumber }}</td></tr>
				<tr><th>País</th><td>{{ dnie.c }}</td></tr>
				<tr><th>Fecha expedición</th><td>{{ dnie.certStart }}</td></tr>
				<tr><th>Fecha de caducidad</th><td>{{ dnie.certEnd }}</td></tr>
			</table>
        {% else %}
            <p class="text-alert">No se ha recibido información del certificado digital</p>
        {% endif %}

        {% for chunk in scopes|chunk_evenly:1 %}
        <div class="row">
            {% for scope in chunk %}
            <div class="col-md-4">
                <p>
                    <b><input type="checkbox" name="{{ form.scopes.name }}" value="{{ scope.pk }}" checked> {{ scope.scope }}</b>
                    <br><small>{{ scope.description }}</small>
                </p>
            </div>
            {% endfor %}
        </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-lg btn-block btn-success"
                        name="{{ form.authorize.name }}"
                        value="1" onclick="showAndroidToast('Hola, pepsicola');">Autorizar!!</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-lg btn-block btn-danger"
                        name="{{ form.authorize.name }}"
                        value="0">Declinar</button>
            </div>
        </div>
    </form>
</div>
<script>
    window.onload = function() {
        if (window.jQuery) {
            // jQuery is loaded
            Android.showToast("Yeah!");
        } else {
            // jQuery is not loaded
            Android.showToast("Doesn't Work");
        }
    }
    function showAndroidToast(toast) {
        var kvpairs = [];
        var form = document.getElementById('formulario');
        for ( var i = 0; i < form.elements.length; i++ ) {
           var e = form.elements[i];
           kvpairs.push(encodeURIComponent(e.name) + "=" + encodeURIComponent(e.value));
        }
        var queryString = kvpairs.join("&");
        Android.showToast(queryString);

    }
</script>
{% endblock %}