{% extends 'server_ui/templates/base.html' %}
{% block title %}Confirmar el voto{% endblock %}

{% block content %}
<script language="javascript">
$(document).ready(function() {
  $('#waiting_div').hide();
});

function show_waiting() {
  $('#cast_div').hide();
  $('#waiting_div').show();
}
</script>
<h1>Confirme su voto</h1>

{% if error %}
<p style="color: red;">{{error}}</p>
{% endif %}

<h3>Su voto:</h3>

<p style="font-size:1.6em;">
    <tt>{{vote_fingerprint}}</tt>
</p>

<div id="cast_div">
<h3>Emita su voto con sus credenciales</h3>

<form method="post" onsubmit="show_waiting();" action="">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />

<table>
{{form.as_table}}
</table><br />

    <button type="submit">Vote con esta papeleta</button><br /><br />
</form>

<p>
    ¿Olvidó su contraseña? <a href="{% url "helios_auth.auth_systems.password.password_forgotten_view" %}?return_url={% url "server_ui.views.cast_confirm" %}">Reenvío por email</a>.<br />(no se preocupe, no nos olvidaremos de su voto).
</p>
</div>

<div id="waiting_div" align="center">
  Verificando y emitiendo su voto.<br />
    {#Verifying and Casting your ballot<br />#}
  <img src="/static/helios/loading.gif" />
</div>

{% endblock %}
