{% extends 'server_ui/templates/base.html' %}

{% block content %}

  <h2 class="title">Elección {{election.name}} ya escrutada</h2>

  <p>
      Esta elección ya ha sido escrutada (o al menos ya ha empezado el escrutinio), por lo que ya no se puede emitir ningún voto.
      {#This election has already been tallied (or at least the tally has begun), so you can no longer cast a vote.#}
  </p>
  
  <p>
      <a href="{% url "helios.views.one_election_view" election.uuid %}">ver la elección</a>
  </p>
{% endblock %}