{% extends 'server_ui/templates/base.html' %}
{% block title %}{{ settings.SITE_TITLE }}{% endblock %}

{% block header %}
<h2>{{ settings.SITE_TITLE }}</h2>
{% endblock %}

{% block content %}

<div class="row"><div class="large-5 columns large-centered"><a href="/"><img border="0" src="{{ settings.MAIN_LOGO_URL }}" /></a></div></div>
<div class="row">&nbsp;</div>
<div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 jumbotron">
  {% if settings.MASTER_HELIOS %}
    <p>Helios offers <b>verifiable online elections</b>.</p>

    <p>We believe democracy is important, whether it’s your book club, parent-teacher association, student government, workers’ union, or state. So we’ve made truly verifiable elections as easy as everything else on the Web.</p>

    <p>
    Helios elections are:
    <ul class="disc">
    <li><b>private</b>: no one knows how you voted.</li>
    <li><b>verifiable</b>: each voter gets a tracking number.</li>
    <li><b>proven</b>: Helios is open-source, vetted by top-tier experts, and in use by major organizations.</li>
    </ul>

    <p>
    More than <b>100,000 votes</b> have been cast using Helios.
    </p>

    {% if create_p %}
      <a class="btn btn-primary" href="{% url "helios.views.election_new" %}">Crear elección</a>
    {% else %}
      <p>No es usuario admin</p>
    {% endif %}

  {% else %}
    <p style="font-size: 1.4em;">
      {{settings.WELCOME_MESSAGE|safe}}
    </p>
  
    {% if elections|length %}
      <p>
        {% for election in elections %}
        <div class="panel">
          <a style="font-size: 1.4em;" href="{% url "helios.views.election_shortcut" election.short_name %}">{{election.name}}</a>{% if settings.SHOW_USER_INFO %}<br /> by {{election.admin.display_html_small|safe}}{% endif %}
        </div>
        <br />
        {% endfor %}
      </p>
    {% else %}
      <h4>No hay elecciones destacadas por el momento</h4>

    {% endif %}
  {% endif %}

{% if false %}
  {% if dni %}
    <p>Por el certificado con el que se ha conectado, su DNI es: {{dni}}</p>
  {% else %}
    <p>No se ha establecido ningún canal SSL.</p>
  {% endif %}
{% endif %}
  
  
  

  {% if create_p %}
    <a class="btn btn-primary link-crear-eleccion link-global" href="{% url "helios.views.election_new" %}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Crear una nueva elección</a>
  {% else %}
    <p>No es usuario admin</p>
  {% endif %}


</div>

<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12" id="mystuff">
  <!-- <p>{{user.id}}</p> -->
	{% if user %}
	<!--<div class="row right">{{user.display_html_big|safe}}</div>-->
	
	{% if false %}
		{% if create_p %}
			<div class="div-crear-eleccion">
				<a class="btn btn-primary link-crear-eleccion" href="{% url "helios.views.election_new" %}">Crear elección</a>
			</div>
		{% endif %}
	{% endif %}
		
		<div class="panel panel-primary panel-votos">
				<div class="panel-heading">
					<h5 class="panel-title centrar"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Elecciones Recientes</h5>
				</div>
				<div class="panel-body">
					{% if elections_voted %}
						<ul>
						{% for election in elections_voted %}
							<li><a href="{% url "helios.views.one_election_view" election.uuid %}">{{election.name}}</a></li>
						{% endfor %}
						</ul>
					{% else %}
						<em>Ninguna todavía</em>
					{% endif %}
					<div class="row right"><a class="btn btn-primary" href="{% url "helios.views.elections_voted" %}">Ver todas</a></div>
				</div>
			</div>
		{% if create_p %}
			<div class="panel panel-success panel-admin">
				<div class="panel-heading">
					<h5 class="panel-title centrar"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Elecciones Administradas</h5>
				</div>
				<div class="panel-body">
					{% if elections_administered %}
						<ul>
							{% for election in elections_administered %}
								<li><a href="{% url "helios.views.one_election_view" election.uuid %}">{{election.name}}</a></li>
							{% endfor %}
						</ul>
					{% else %} {# if elections_administered #}
						<em>Ninguna todavía</em>
					{% endif %} {# elections_administered #}
					<div class="row right">
						<a class="btn btn-success" href="{% url "helios.views.elections_administered" %}">Ver todas</a>
					</div>
				</div>
			</div>
		{% endif %}
		
	{% else %}
		{% if settings.SHOW_LOGIN_OPTIONS %}
			<h5>Acceda para empezar a votar</h5>
			{{login_box|safe}}
		{% else %}
			<p>
			  Selecciona una elección para comenzar a votar. Se le preguntará por sus credenciales después de que complete una boleta.
			{#Select an election to start voting. You will be asked for your voting credentials after you complete a ballot.#}
			</p>
		{% endif %}
	{% endif %}
</div>


{% endblock %}
