#header {background:#2A4B8A url("../../ayto/img/backHeadBlue.jpg") no-repeat right top ;}
#logoLink {background:url("../../ayto/img/logoHead.png") no-repeat top left; height: 60px;}
/*#header.fondoNuevo{background:url("/FwFront/ayto/img/backHeadBlue2.jpg") no-repeat right top #2A4B8A;}*/
#idPortal {float:left;font-size:1.08em;height:2.2em;margin-left:1.5em;padding:0.31em 0.25em 0.1em 0.5em;width:11.81em;}
#IdCorp h2{ color:#FFF; font-weight:bold; margin-left:2.2em; float:left; font-size:1.08em;overflow: hidden;position: static;width: 23em;}
#idPortal.tituloTexto{ font-size:1.2em; width:20em; padding-top:1.5em;}
.sinSubtitulo{ margin-top:1em;}
#tituloAplicacion {position:absolute;width:20em; height:5.69em; bottom:0px; right:0; padding-left:0.93em; text-align:right; padding-right:1em; }
#tituloAplicacion h2{ margin-top:1em; color:#FFF; font-size:1.08em; font-weight:bold;}
#tituloAplicacion .ajusteDerecha h2{ margin-top:0.7em}
#tituloAplicacion h2.conLogo{ background:url(../core/img/ico_logo.gif) no-repeat top center; padding-top:3em; color:#294B8A}
.ajusteDerecha{float:right; width:auto}
.contentItem.tramite .tramitacion span.online { background:none;}
ul.menuLevel1 li.n1 ul.oculta {background:#F4F5F7;float:left;margin-left:0.56em;}
.oculta{ display:none;}
ul.menuLevel1 li.n1 ul.oculta li.n2 span {background:#F4F5F7 url("../img/bulletSideMenuGray.gif") no-repeat left top;}
.labelSide{ font-size: 0.75em;}
.columna2 .contenedorFicha{ margin-top:0;}
.first .noApp{ margin-top:1.188em;}
.labelUp{ font-weight:normal;}

legend{ display:block; font-size:0.75em; font-weight:bold;}
.field2 {width:7em;}
.field4{width:13.95em;}
.field3{width:10.5em;}
.field5 {width:17.5em;}
.field6 {width:21em;}
.field1{width:3.5em;}
.field1b{width:4.5em;}
.field10{ width:35em}
.field8{width:27.9em;}
.field7 {width:24.45em;}
.field9{width:31.4em;}
.field11 {width:38.4em;}
.field12 {width:42.2em;}
.field100 {width:100%; margin-bottom:1em; float:left;}
.columna2 .field3{ clear:none;}
select.box2, .box2 {width:8.45em;}
select.box4, .box4 {width:17.7em;}
select.box3, .box3 {width:13em;}
select.box5, .box5 {width:22.3em;}
select.box6, .box6{ width:27em;}
select.box1, .box1 {width:3.8em;}
select.box8, .box8{width:36.2em}
select.box7, .box7 {width:31.7em;}
select.box9, .box9{ width:40.95em} 
select.box10, .box10{ width:45.5em}
select.box11, .box11 {width:50.2em;}
select.box12, .box12 {width:55em;}
#gridContainer14 .field12{width:47.2em;float:none;}
#gridContainer14 .field4{width:15.7em}
#gridContainer14 select.box4 {width: 17.7em;}

#gridContainer14 .field2{width:9.4em}
#gridContainer14 .box2{width:11.5em}

#gridContainer14 .field6{width:23.5em}
#gridContainer14 .field3{width:11.5em}
#gridContainer14 .box3{width:14em}
.camposFiltro .ftl input{ float:left}
.camposFiltro .ftl { width:100%}


.columna2 .subficha .formulario{ margin:0 0.5em; border-top:1px solid #E4E4E4; overflow:hidden; }
.columna2 .labelSide .labelUp2{ font-size:1em; font-weight:normal;}
.btnBoxRight { margin-left:1em; clear:none}
.btnWhite { color:#FFFFFF}

.detailBody .bannerError {background-color:#fcf3f3;border:1px solid #e24141;display:block;margin:0.5em 0.75em 0.5em 0.55em;padding:0.5em 0.3em;}
.detailBody .bannerError span.info {background:url("../img/ico_error.gif") no-repeat left top;display:block;font-weight:bold; font-size:0.75em;}
.detailBody .bannerError span {color:#333333;font-size:0.75em;margin-right:0.25em;padding:0.4167em 0 0.6667em 3em;}
.detailBody .bannerError .avisoDesc {font-size:0.75em;line-height:1.2em;margin-top:0.75em;}

.detailBody .bannerAdvertencia{background-color:#ffcede2;border:1px solid #edae7a;display:block;margin:0.5em 0.75em 0.5em 0.55em;padding:0.5em 0.3em;}
.detailBody .bannerAdvertencia span.info {background:url("../img/ico_advertencia.gif") no-repeat left top;display:block;font-weight:bold; font-size:0.75em;}
.detailBody .bannerAdvertencia span {color:#333333;font-size:0.75em;margin-right:0.25em;padding:0.4167em 0 0.6667em 3em;}
.detailBody .bannerAdvertencia .avisoDesc {font-size:0.75em;line-height:1.2em;margin-top:0.75em;}


.contentList .lockImg1 {
margin:0.313em;
}
.contentItem.tramite {margin:0.5em 0 0 5em; float:none;}
ol.steps li{ font-size:0.7em; padding:0.6em 0 0.6em 1.75em; background-position:left 0.6em;}
legend{ color:#000}
.detailBody .entradilla .fotoDetalle{ width:20em;}
.detailBody .entradilla .fotoDetalle img{ width:100%}
.limpiarAmbos{ clear:both;}
.derecha{ text-align:right;}
.asterisco{ background-position:left -0.5em;}
.detailBody .entradilla .fotoDetalle.banner {border:1px solid #E0E0E0;height:7em;overflow:hidden;width:100%; height:12em}


table caption{  margin-top:-4.3em; margin-left:1em; font-weight:bold; font-size:1.325em; float:left; display:inline; width:100%}
.detailBody table {  margin-top:1em; }
.labelCheck{ font-size:0.75em;}

.parrafo h4{ font-size:1.2em; font-weight:bold; background:#F3F5F7; padding:0.2em; width:100%; clear:both;}

.tabBody .field3 .ftl{ margin-top:1em;}
.tabBody table{ margin-top:0em; float:left;}
		.tabBody table td, .tabBody table th, .tabBody  table caption{font-size:0.75em}
		.notes .btnRight{margin-bottom:.5em;}


/* Definition List - DL
*******************************************************************************/
dl { float:left; width:33%; }
dl.anchoTotal { width:100%; }
dl.anchoDoble { width:66%; }
dl.ancho50, .ancho50 dl { width: 48%; }
dl.ancho25, .ancho25 dl { width: 24%; }
dl.ancho20, .ancho20 dl { width: 19%; }

div.parrafo dl dt { font-weight:bold; background:none; margin-bottom:0; }
div.parrafo dl dd { background:none; padding-left:1em; margin-top:0; }


/* Forms Elements
*******************************************************************************/

.btn:link,
.btn:visited,
.btn:hover,
.btn:active {
	color: #FFF;
}

/* eLink - Se utiliza para los enlaces con icono */
.btn.eLink:link,
.btn.eLink:visited,
.btn.eLink:hover,
.btn.eLink:active {
	color: #333;
}

.btn.eLink:hover {
	text-decoration: underline;
}

.btn.eLink {
	color: #000;
	font-size: 1em;
	margin: 0;
	padding: 0;
	padding-left: 1.8em;
}

	.eLink.pdf {
		background: url(../img/icoBulletPDF.gif) no-repeat left;
		
	}

	.eLink.duplicado {
		background: url(../img/icoTramiteAutoLiq.gif) no-repeat left;
	}


.btn-back {
	background: url(../img/ico_back.gif) no-repeat left;
	color: #000;
	font-size: 1em;
	padding-left: 0.625em;
}

.formModule h4 {
	font-weight: bold;
	font-size: .9em;
}


/* Layout settings
*******************************************************************************/

.detailBody .intro {
	margin: .5em 0;
}


/* Structure Blocks
*******************************************************************************/
/* appInfoList | appInfoTable | appInfoAdvice | appInfoActions */

.appInfoAdvice {
	margin: 1em 0;
}


/* Variant of Definition List - DL */

div.parrafo .listSet{
	margin-bottom: 1em;
}

	div.parrafo .listSet h4{
		font-weight: normal;
	}

	div.parrafo .listSet dl{
		border-top: 1px solid #EAEAEA;
	}

	div.parrafo .listSet dt,
	div.parrafo .listSet dd {
		padding: .5em 0 .5em 1em;
		margin:0;
		float: left;
	}


/* Complete - Task
*******************************************************************************/
.complete {
	font-weight: bold;
	font-style: italic;
	color: #f00 !important;
}


/*****************************************/
/******** ALIGNMENTS AND CLEARS **********/
/*****************************************/

/* Directional and spacial */
.f-left		{ float:left; }
.f-right 	{ float:right; }
.v-top 		{ vertical-align:top; }
.v-middle 	{ vertical-align:middle; }
.v-bottom 	{ vertical-align:bottom; }
.a-left 	{ text-align:left !important; }
.a-center 	{ text-align:center !important; }
.a-right 	{ text-align:right !important; }
.nm 		{ margin:0; }
.np 		{ padding:0; }
.no-display { display:none; }
.no-show 	{ display:none; }
.nowrap, .nobr { white-space:nowrap; }
.no-float 	{ float:none; }
.pointer 	{ cursor:pointer; }
.clr 		{ clear:both; }
.line 		{ line-height: 20px; }

/* Font */
.normal 	{ font-weight:normal; }
.bold 		{ font-weight:bold; }