{% extends TEMPLATE_BASE %}

{% block title %}{{cast_vote.vote_tinyhash}} &mdash; {{election.name}}{% endblock %}
{% block content %}
<h2 class="title">Voto {{cast_vote.vote_tinyhash}}(...) emitido</h2>
<div class="well">
	Voto emitido en <a href="{% url "helios.views.one_election_view" election.uuid %}">{{election.name}}</a><br />
	Huella digital del voto: <tt class="badge">{{cast_vote.vote_hash}}</tt><br />
	por <span class="accordion-toggle"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
	<b>
		<u>
		{% if the_voter.alias %}
			{{the_voter.alias}}
		{% else %}
			{{the_voter.name}}
		{% endif %}
		</u>
	</b>
</div>

<div class="panel-group" id="detalles">
	<div class="panel panel-primary">
		<div class="panel-heading" data-toggle="collapse" data-parent="#detalles" data-target="#detalles-collapse">
			<h4 class="panel-title">
				<a class="accordion-toggle"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Detalles</a>
			</h4>
		</div>
		<div id="detalles-collapse" class="panel-collapse collapse">
			<div class="panel-body">
				<div id="castvote_content">
					<textarea>
						{{vote_content}}
					</textarea>
				</div>
			</div>
		</div>
	</div>
</div>




{% endblock %}
