{% extends TEMPLATE_BASE %}
{% block title %}Confirmar el voto{% endblock %}

{% block content %}
<div class="infoelec">
	<div class="well">
		<h3>{{election.name}} &mdash; ¡¡Voto sufragado satisfactoriamente!!</h3>

		<p>
			Enhorabuena, su voto ha sido <b><u>satisfactoriamente emitido</u></b>.
		</p>
	</div>
</div>

<h4>
  Your smart ballot tracker is: <span class="badge">  {{vote_hash}}</span>
</h4>
<br/>

{% if logout %}
<p><b>Por su seguridad, ha sido desconectado del sistema.</b></p>
<iframe width="0" height="0" border="0" frameborder="0" src="/auth/logout">
</iframe>
{% endif %}

<p style="font-size: 1.4em;">
 <a class="btn btn-primary" href="{% url "helios.views.one_election_view" election.uuid %}"><i class="glyphicon glyphicon-arrow-left"></i> Volver a la página de información de la elección.</a>
</p>

{% endblock %}
