{% extends TEMPLATE_BASE %}
{% block title %}Confirm Vote{% endblock %}

{% block content %}
<script language="javascript">
$(document).ready(function() {
  $('#waiting_div').hide();
});

function show_waiting() {
  $('#all_forms').hide();
  $('#waiting_div').show();
}

// FIXME: set this to false once it's clear how to set it back to true
// so that it's not easy to forget to cast a ballot
var ready_to_unload = true;

window.onbeforeunload = function(evt) {
  if (ready_to_unload)
    return;

  if (typeof evt == 'undefined') {
    evt = window.event;
  }
  
  var message = "You have not yet cast your ballot! Make sure to complete the voting process if you want your vote to count.";

  if (evt) {
    evt.returnValue = message;
  }
  
  return message;
};

</script>
<p style="margin-top: 10px">Submitting your vote for <b>{{election.name}}</b>...</p>

<div id="waiting_div">
    Verifying and Casting your ballot<br />
    <img src="/static/helios/loading.gif" />
</div>

<div id="all_forms">

{% if voter %}

    {% include "_castconfirm_docast.html" %}

{% else %}

        <p>Auths:</p>
        {% for auth in auth_systems %}
        <p>Auth: {{ auth }}</p>
        {% endfor %}

    {% if show_password %}
        {% if user %}
            <h1>Espere!</h1>
            <p>
                Está logado en el sistema como <u>{{user.display_html_small|safe}}</u>, pero esta elección<br />
                requiere unas credenciales específicas.
            </p>
        {% endif %}
        {% with cast_ballot="1" %}
        {% include "_castconfirm_password.html" %}
        {% endwith %}

    {% else %}

        {% if user %}
            <h1>¡Disculpe!<h1>
            <b>Disculpe, usted <em>
              {% if election.openreg %}
                <!--<u>not eligible</u></em> for this election.-->
                <u>no está censado</u></em> para esta elección.
              {% else %}
                <!--not registered</em> for this election, and registration is closed.-->
                <u>no está censado</u></em> para esta elección. y el período de censo ya ha sido cerrado.
              {% endif %}
              </b><br /></p>
            <p>
                [<a href="{% url "helios.views.one_election_view" election.uuid %}">Volver a la página principal de la elección</a>]
            </p>
        {% else %}
            <p>
            <h1>Wait!  You need to log in.</h1>
            {% if election.openreg %}

              {% if election.eligibility %}
              {% else %}
                Esta elección está abierta a <em>cualquier votante</em>. Por favor, lóguese con su cuenta preferida.
               <!--This election is open to <em>anyone</em>, so log in with your preferred account.-->
              {% endif %}

            {% else %}
              This election is only open to <em>registered voters</em>, so log in with
              the same account you registered with.
            {% endif %}
            </p>

            {{login_box|safe}}

            <br />
            Don't worry, we'll remember your ballot while you log in.
        {% endif %}

    {% endif %}
    <br />
    Your smart ballot tracker is:<br /><br />
        <tt style="font-size:1.3em; font-weight: bold; padding-left: 20px;">  {{vote_fingerprint}}</tt>
    </p>
    {# this closes the IF ELSE of this being password_only #}
{% endif %}

</div>

{% endblock %}
