{% extends TEMPLATE_BASE %}
{% block title %}Confirmar el voto{% endblock %}

{% block content %}
<script language="javascript">
$(document).ready(function() {
  $('#waiting_div').hide();
});

function show_waiting() {
  $('#all_forms').hide();
  $('#waiting_div').show();
}

// FIXME: set this to false once it's clear how to set it back to true
// so that it's not easy to forget to cast a ballot
var ready_to_unload = true;

window.onbeforeunload = function(evt) {
  if (ready_to_unload)
    return;

  if (typeof evt == 'undefined') {
    evt = window.event;
  }
  
  //var message = "You have not yet cast your ballot! Make sure to complete the voting process if you want your vote to count.";
  var message = "¡Todavía no ha votado! Asegúrese de completar el proceso de voto si quiere que su voto sea contado.";

  if (evt) {
    evt.returnValue = message;
  }
  
  return message;
};

</script>

<div class="infoelec">
	<div class="well">
		<h3>{{election.name}} &mdash; Emitiendo su voto</h3>
	</div>
</div>
<div id="waiting_div">
    <!-- Verifying and Casting your ballot<br /> -->
    Verificando y votando con su papeleta <img src="/static/helios/loading.gif" />
</div>

<div id="all_forms">

{% if voter %}

    {% include "_castconfirm_docast.html" %}

{% else %}

		<p>Auths:</p>
		{% for auth in auth_systems %}
		<p>Auth: {{ auth }}</p>
		{% endfor %}
		<div class="alert alert-danger" role="alert">
		
			{% if user %}
				<b>Disculpe, usted <em>
				  {% if election.openreg %}
					<!--<u>not eligible</u></em> for this election.-->
					<u>no está censado</u></em> para esta elección.
				  {% else %}
					<!--not registered</em> for this election, and registration is closed.-->
					<u>no está censado</u></em> para esta elección. (debug: !openreg).
				  {% endif %}
				  </b>
				
				<div>
					<a class="btn btn-primary" href="{% url "helios.views.one_election_view" election.uuid %}"><i class="glyphicon glyphicon-arrow-left"></i> Volver a la elección</a>
				</div>
			{% else %}
				<h3>Wait!  You need to log in.</h3>
				{% if election.openreg %}

				  {% if election.eligibility %}
				  {% else %}
					Esta elección está abierta a <em>cualquier votante</em>. Por favor, lóguese con su cuenta preferida.
				   <!--This election is open to <em>anyone</em>, so log in with your preferred account.-->
				  {% endif %}

				{% else %}
				  This election is only open to <em>registered voters</em>, so log in with
				  the same account you registered with.
				{% endif %}

				{{login_box|safe}}

				<br />
				Don't worry, we'll remember your ballot while you log in.
			{% endif %}
		</div>
		
		<br />
		Su smart ballot tracker es: <tt class="badge">  {{vote_fingerprint}}</tt>
    </p>
    {# this closes the IF ELSE of this being password_only #}
{% endif %}

</div>

{% endblock %}
