{% extends TEMPLATE_BASE %}

{% block title %}Log In para ver la elección{% endblock %}
{% block content %}
<h2>Elección Privada - Por favor, lóguese en el sistema</h2>

<p>
Esta elección, con huella <tt>{{election.hash}}</tt>, es privada y sólo puede ser vista por votantes con derecho.
<!--This election, with fingerprint <tt>{{election.hash}}</tt>, is private, and can only be viewed by eligible voters.-->
</p>

{% with cast_ballot="0" %}
{% include "_castconfirm_password.html" %}
{% endwith %}

{% endblock %}
