{% extends TEMPLATE_BASE %}
{% block title %}Estadísticas{% endblock %}

{% block content %}
<h1>Admin</h1>

<ul>
<li> <a href="{% url "helios.stats_views.elections" %}">elecciones</a></li>
<li> <a href="{% url "helios.stats_views.recent_votes" %}">votos recientes</a></li>
<li> <a href="{% url "helios.stats_views.recent_problem_elections" %}">elecciones con problemas recientes</a></li>
</ul>

<p><b>{{num_votes_in_queue}}</b> votos en cola. {% if num_votes_in_queue %}[<a href="{% url "helios.stats_views.force_queue" %}">forzar</a>]{% endif %}</p>

{% endblock %}
