{% extends TEMPLATE_BASE %}

{% block content %}
<div class="infoelec">
	<div class="well">
		<h3 class="title">{{election.name}} &mdash; Subida de votantes por fichero <a class="btn btn-xs btn-primary pull-right" href="{% url "helios.views.one_election_view" election.uuid %}"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> volver a la elección</a></h3>

		<p>
			Si quiere especificar la lista de votantes, por nombre y email, puede subir un fichero con la lista de votantes aquí.
		</p>
	</div>
</div>

<form method="post" action="" id="upload_form" enctype="multipart/form-data">
  <p>
	Por favor, prepare un fichero de texto plano con valores separados por comas con los siguientes campos:
	</p>
<pre>
   &lt;dni&gt;,&lt;email&gt,&lt;nombre completo&gt;,&lt;email&gt;
</pre>

<p>
Por ejemplo:
  </p>
  <pre>
      12345678A,ben@adida.net,Ben Adida
      87654321Z,bob@acme.org,Bob Smith
      ...
  </pre> 

  <p>
	La forma más fácil de preparar este fichero es usando un software de hoja de cálculo y exportar como CSV.
  </p>
  {% if error %}
  <div style="color: red;">{{error}}</div>
  {% endif %}
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
    <input class="" type="file" name="voters_file" />
    <input class="btn btn-primary" type="submit" value="Cargar el fichero seleccionado" />
</form>

<div id="processing">
</div>

<div id="done" style="display:none;">
  <div class="alert alert-success">¡OK! ¡Carga de votantes realizada!.</div><br />
  Ahora puede <a class="btn btn-default" href="./manage">ver la lista de votantes</a>.
</div>

{% endblock %}
