{% extends TEMPLATE_BASE %}

{% block title %}Contactar votantes de la elección {{election.name}}{% endblock %}
{% block content %}
<script>
var voter_id = null;
{% if voter %}
voter_id = '{{voter.voter_id}}';
{% endif %}
</script>

  <h2 class="title">{{election.name}} &mdash; Contactar votantes <span style="font-size:0.7em;">[<a href="{% url "helios.views.one_election_view" election.uuid %}">Volver a la elección</a>]</span></h2>

{% if voter %}  
  <p>
	Está enviando este email a un votante específico: <b>{{voter.name}} ({{voter.voter_id}})</b>
  </p>
{% endif %}

<p>
<b>Plantilals</b>:

{% for template_option in templates %}
{% if template_option.0 == template %}
<b>{{template_option.1}}</b>
{% else %}
<a href="?template={{template_option.0}}&voter_id={{voter.voter_login_id}}">{{template_option.1}}</a>
{% endif %}
&nbsp;&nbsp;&nbsp;
{% endfor %}

<pre style="margin:10px; border: 1px solid #888; padding:20px">
Asunto: {{default_subject}}

{{default_body|safe}}
</pre>

<p>
Puede modificar el asunto y añadir un mensaje personalizado usando el siguiente formulario.
</p>

  <form class="prettyform" action="" method="POST" id="email_form">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    <input type="hidden" name="template" value="{{template}}" />
    <input type="hidden" name="voter_id" value="{{voter.voter_login_id}}" />
    <table class="pretty">
     {{email_form.as_table}}
     </table>
  <div>
  <label for="">&nbsp;</label><input type="submit" value="Enviar" id="send_button" />
  </div>
  </form>
  
  <div id="processing">
  </div>
  
  <div id="done" style="display:none;">
	Hecho, <a href="{% url "helios.views.one_election_view" election.uuid %}">volver a la elección</a>.
  </div>

  <div id="error" style="display:none;">
	Error al enviar email a los participantes. Compruebe la configuración del servidor y asegúrese de que hay configurado y corriendo un servidor SMTP.
  </div>

{% endblock %}
