{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Búsqueda de votantes por '{{search_term}}' <span style="font-size:0.7em;">[<a href="{% url "helios.views.one_election_view" election.uuid %}">Volver a la elección</a>]</span></h2>

{% if voter %}
Votante encontrado: {{voter.name}} ({{voter.voter_id}})<br /><br />
{% if election.frozen_at %}
<a href="{% url "helios.views.voters_email" election.uuid %}?voter_id={{voter.voter_id}}">Enviar email a este votante</a>
{% else %}
Una vez que la elección sea congelada, podrá enviar un email a este votante.
{% endif %}
{% else %}
<em>No encontrado votante</em>
{% endif %}

{% endblock %}