{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Subida de votantes por fichero <span style="font-size:0.7em;">[<a href="{% url "helios.views.one_election_view" election.uuid %}">back to election</a>]</span></h2>

<form method="post" action="" id="upload_form" enctype="multipart/form-data">
  <p>
	Si quiere especificar la lista de votantes, por nombre y email, puede subir un fichero con la lista de votantes aquí.
	<br />
	Por favor, prepare un fichero de texto plano con valores separados por comas con los siguientes campos:
</p>
<pre>
   &lt;unique_id&gt;,&lt;email&gt,&lt;nombre completo&gt;,&lt;email&gt;
</pre>

<p>
Por ejemplo:
  </p>
  <pre>
      benadida,ben@adida.net,Ben Adida
      bobsmith,bob@acme.org,Bob Smith
      ...
  </pre> 

  <p>
	La forma más fácil de preparar este fichero es usando un software de hoja de cálculo y exportar como CSV.
  </p>
  {% if error %}
  <div style="color: red;">{{error}}</div>
  {% endif %}
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
    <input type="file" name="voters_file" />
    <input type="submit" value="go" />
</form>

<div id="processing">
</div>

<div id="done" style="display:none;">
  ¡OK! ¡Carga de votantes realizada!.<br />
  Ahora puede <a href="./manage">ver la lista de votantes</a>.
</div>

{% endblock %}
